{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react-hooks"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "object-curly-newline": "off",
    "quotes": ["error", "double"],
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "react/jsx-one-expression-per-line": "off",
    "no-param-reassign":"off",
    "no-plusplus":"off",
  },
  "overrides": [{
    "files": ["**/*.styles.js"],
    "rules": {
      "import/prefer-default-export": "off"
    }
  }, {
    "files": ["config/jest/**/*.js", "**/*.spec.js"],
    "env": {
      "jest": true
    },
    "rules": {

      "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
    }
  }]
}
